    <div style="width: 90%;text-align: right;margin-top: 13px;">
        <label>Search Article</label>
        <input type="search" id="IPsearchMyAticle" >
        <input type="button" value="seach" id="searchArtSubmit" onclick="searchMyArticle()">
    </div>

    <div class="articles-div" style="width: 80%;margin: 0 auto 0 auto;">
        <table id="articles-table" style="width: 100%;margin-bottom: 10px;">
            <tbody>
                
            </tbody>
        </table>

        <input type="button" value="next" id="next" onclick="nextWithSearch()" class="btn" style="float: right;margin-right: 3em;">
        <input type="button" value="previous" id="previous" onclick="previousWithSearch()" class="btn" style="float: right;">
    </div>
