<div style="width: 60%;margin: auto;">

    <div class="Tags-Container">
        <div class="tags-outer">
            Tags
        </div>

        <div class="tags-inner">
            <div class="inline">

            </div>
            <!-- <div class="tag-chip-container">
                PubG
                <div class="inline">
                    <i class="far fa-times-circle" class="deleteIcon"></i>
                </div>
            </div> -->
            <input type="text" name="" id="tag-input" class="tag-input pointer"  onkeydown="createChip(event)" placeholder="start typing here...">
            <input type="button" value="add" id="btnTagSubmit" class="button border green-hover" onclick="validateTagAndCreate()">
        </div>

    </div>
<!-- 
    <h3>Add Tags</h3>
    <form action="">
        <label for="tagsTextArea">Tags</label>
        <textarea name="" id="tagsTextArea" cols="30" rows="10" style="width: 100%;padding: 6px;margin: 5px 5px 0 0;"></textarea>
        <input type="submit" name="" id="">
    </form>
    <div></div> -->
    <!-- <input type="button" value="Update Tags" onclick="createTags()">  -->
    <div class="old-Tags">

    </div>
</div>

